<h1> My first Angular app </h1>

<h4> Demonstrating basic ngIf </h4>

First checkbox <input type="checkbox" (input)="showFirst=!showFirst" />

<!-- Using ngIf to conditionally show/hide the <p> text -->
<p *ngIf="showFirst">First checkbox is ticked: using ngIf</p>

<!-- Using hidden property to conditionally show/hide the <p> text -->
<p [hidden]="!showFirst">First checkbox is ticked: using [hidden]</p>

<h4> Demonstrating ngIf Else </h4>

Second checkbox <input type="checkbox" (input)="showSecond=!showSecond" />

<p *ngIf="showSecond; else elseForSecondCheckBox">
  Second checkbox is ticked
</p>
 
<ng-template #elseForSecondCheckBox>
  <p>  Second checkbox is NOT ticked </p>
</ng-template>

<h4> Demonstrating ngIf Then Else </h4>

Third checkbox <input type="checkbox" (input)="showThird=!showThird" />

<p *ngIf="showThird; then thenForThirdCheckBox else elseForThirdCheckBox">
  The text inside here is never shown
</p>

<ng-template #thenForThirdCheckBox>
  <p>  Third checkbox is ticked </p>
</ng-template>

<ng-template #elseForThirdCheckBox>
  <p>  Third checkbox is NOT ticked </p>
</ng-template>
